-#  app/views/admin/index.html.haml
= javascript_include_tag "admin/selectAll"

%h1 #{link_to "<span class=\"glyphicon glyphicon-circle-arrow-left\"></span>".html_safe, admin_list_path(:navigate => "Previous"), :class => "admin_previous"} #{get_month_name(@date)} #{get_year(@date)} #{link_to "<span class=\"glyphicon glyphicon-circle-arrow-right\"></span>".html_safe, admin_list_path(:navigate => "Next"), :class => "admin_next"}

- if future_records?
  No records yet for #{get_month_name(@date)} #{get_year(@date)}.
- elsif beyond_earliest_records?
  No records from #{get_month_name(@date)} #{get_year(@date)}.

- else
  %p= button_to "Print Audit Sheet", admin_audit_path(:year => get_year(@date), :month => get_month(@date)), :method => :get, :class => "btn"

  %table#employee_list.table.table-striped
    %thead
      %tr
        %th{:style => "text-align:center; padding-left:20px; padding-right:20px"}
          %input#selectAll{:type => "checkbox", :value => "selectAll"}
        %th
          = link_to "First Name", admin_list_path(:sort => "first_name")
        %th
          = link_to "Last Name", admin_list_path(:sort => "last_name")
        %th
        %th{:style => "text-align:center"}
          = link_to "Days of Healthy Activity", admin_list_path(:sort => "days")
        %th{:style => "text-align:center"}
          Pending
        %th{:style => "text-align:center"}
          Form Received?
    %tbody
      = form_tag admin_forms_path(:year => @date.year, :month => @date.month)
      - @user_months.each do |user, month|
        %tr
          %td{:style => "text-align:center"}
            - if month.nil? or month.get_num_approved_days() == 0
            - else
              = check_box_tag "selected[" + user.last_name.to_s + "]", month.id
          %td
            = user.first_name
          %td
            = user.last_name
          %td{:style => "text-align:center"}
            = link_to "<span class =\"glyphicon glyphicon-calendar\"></span>".html_safe, calendar_path(:id => user.id)
          %td{:style => "text-align:center"}
            - if month.nil? or month.get_num_approved_days() == 0
            - else
              = month.get_num_approved_days()
          %td{:style => "text-align:center"}
            = link_to "#{month.get_num_pending_days()}", admin_pending_path unless month.nil? or month.get_num_pending_days() == 0
          %td{:style => "text-align:center"}
            - if not month.nil? and month.received_form
              ✓
  = submit_tag 'Print Selected', :class => "btn"
  = submit_tag 'Mark Received', :class => "btn"
