-#  app/views/admin/accounting.html.haml
%h1 EFF's Healthy Lifestyles Program
%h2 Monthly Accounting: #{@date.strftime("%B")} #{@date.strftime("%Y")}

%p
  %strong Employee Name:
  #{@user.first_name} #{@user.last_name}

%table#monthly_acct{:style => "width: 50%"}
  %tbody
    - for i in 1..(@num_days + 1) / 2
      %tr
        %td= i.to_s
        %td _______
        - if i <= 15
          %td= (i + (@num_days + 1) / 2).to_s
          %td _______

%br
%p
  %strong Total number of days:
  #{@user_days}
%p
  %strong Reimbursable amount (days x $10):
  $#{@user_days * 10}

%br
%p I certify that I spent at least one hour engaged in reimbursable personal health-focused behavior on each of the above dates.
%br
%p
  %strong Signature:
  __________________________________ &nbsp;&nbsp;&nbsp;&nbsp;
  %strong Date:
  _________________
