-#  app/views/admin/index.html.haml
%h1 #{@date.strftime("%B")} #{@date.strftime("%Y")}
= link_to "Previous", admin_list_path(:navigate => "Previous")
= link_to "Next", admin_list_path(:navigate => "Next")

- if @user_months.empty?
  %p= "No records for #{@date.strftime("%B")} #{@date.strftime("%Y")}."
- else
  %p= button_to "Print Audit Sheet", admin_audit_path(:year => @date.strftime("%Y"), :month => @date.strftime("%m")), :method => :get, :class => "btn"
  %table#employee_list.table.table-striped
    %thead
      %tr
        %th{:style => "text-align:center"} Select
        %th= link_to "First Name", admin_list_path(:sort => "first_name")
        %th= link_to "Last Name", admin_list_path(:sort => "last_name")
        %th Days of Healthy Activity
    %tbody
      - @user_months.each do |month|
        %tr
          %td{:style => "text-align:center"}
            = link_to "Accounting", admin_accounting_path(:id => month.user.id,
                                                          :year => @date.strftime("%Y"),
                                                          :month => @date.strftime("%m"))
          %td= month.user.first_name
          %td= month.user.last_name
          - if month.get_num_pending_days() == 0
            %td= month.get_num_approved_days().to_s
          - else
            %td= month.get_num_approved_days().to_s + " " + "(" + month.get_num_pending_days().to_s + " pending)"

  = submit_tag 'Print Accounting Sheet', :class => "btn"
