-#  app/views/admin/index.html.haml
%h1 Employee List:
= link_to "Previous", admin_list_path(:navigate => "Previous")
= link_to "Next", admin_list_path(:navigate => "Next")

%h3 #{@month} #{@year}

%p= link_to "Audit Sheet"

%table#employee_list.table.table-striped
  %thead
    %tr
      %th
      %th First Name
      %th Last Name
      %th Days of Healthy Activity
  %tbody
    - @user_months.each do |month|
      %tr
        %td
          = link_to "Accounting"
        %td= month.user.first_name
        %td= month.user.last_name
        %td= month.num_of_days
