-#  app/views/admin/index.html.haml
%h1 #{@month} #{@year}

%table#employee_list
  %thead
    %tr
      %th Accounting
      %th
        = link_to "First Name", admin_list_path(:sort => "first")
      %th
        = link_to "Last Name", admin_list_path(:sort => "last")
      %th Days of Healthy Activity
  %tbody
    - @user_months.each do |month|
      %tr
        %td
        %td= month.user.first_name
        %td= month.user.last_name
        %td= month.num_of_days
