-#  app/views/admin/pending.html.haml
%h1 Activities Pending Approval

= form_tag admin_update_pending_path, :method => :put
%table#pending
  %thead
    %tr
      %th Select
      %th First Name
      %th Last Name
      %th Date
      %th Reason
  %tbody
    - @days.each do |day|
      %tr
        %td= check_box_tag "selected[]", day.id
        %td= day.user.first_name
        %td= day.user.last_name
        %td= day.date.strftime("%m/%d/%Y")
        %td= day.reason

%p
= submit_tag 'Approve', :class => "btn btn-success"
= submit_tag 'Deny', :class => "btn btn-danger"
