-#  app/views/admin/manage/index.html.haml

%div#top

%div{:style => "float: right; width: auto; display: inline-block;"}
  = link_to "Bottom", "#bottom"

%h1 Manage

%div.manage_content.settings
  %h2 Settings
  = form_for(@constant, url: update_constants_path, :html => {class: "form-inline"}) do |f|
    %p
      = f.label :curr_rate, 'Reimbursement Rate: ', :class => 'rate_label'
      = f.number_field :curr_rate, :value => @constant.curr_rate, :class => "rate_input", :id => 'rate_input'
      dollars per day
    = f.submit 'Update', :confirm => "Are you sure you want to update the reimbursement rate?", :class => "btn"
%br
%div.manage_content.employees
  %h2 Employees
  = link_to "<span class=\"glyphicon glyphicon-plus-sign\"></span> New employee".html_safe, new_user_invitation_path, :class => "add_new_employee"

  %table#manage.table.table-striped
    %thead
      %tr
        %th= link_to "Last Name", manage_path(:sort => "last_name")
        %th= link_to "First Name", manage_path(:sort => "first_name")
        %th Email
        %th Admin?
        %th Edit?
        %th Delete?
    %tbody
      - @users.each do |user|
        %tr
          %td= user.last_name
          %td= user.first_name
          %td= user.email
          -if user.admin?
            %td= "<span class =\"glyphicon glyphicon-user\"></span>".html_safe
          - else
            %td= link_to "<span class =\"glyphicon glyphicon-plus\"></span>".html_safe, make_admin_path(user), :confirm => "Are you sure you want to make employee #{user.first_name} #{user.last_name} an admin?", :id => 'Make Admin', :method => :post  
          %td= link_to "<span class =\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_path(user), :id => 'Edit'
          %td= link_to "<span class =\"glyphicon glyphicon-trash\"></span>".html_safe, delete_path(user), :method => :delete, :confirm => "Are you sure you want to delete employee #{user.first_name} #{user.last_name}?", :id => 'Delete'

%p
  %div{:style => "float: right; width: auto; display: inline-block;"}
    = link_to "Top", "#top"

%div#bottom
