= javascript_include_tag "users/calendar_setup"
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"}
%link{:rel => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css"}


:javascript
  var index = 0
  var amts=#{raw @amt_list}
  var workouts = #{raw @workouts.to_json}
  var end = '#{@date.month-1}' +'/'+ '#{@date.year}'
  var begin = '#{@earliest_date.month-1}' +'/'+ '#{@earliest_date.year}'
  load()

%noscript
  %p.alert 
    %span.glyphicon.glyphicon-info-sign 
    Since JavaScript is disabled, this page only shows the current and previous month

#head
  %p.calendar
    %span.calendar_name= @name
    %span.money_earned{:id => 'money_earned'}

#money
  %p.money_caption="earned this month"

#calendar

%noscript
  %p
    %br
    %font{:size => "5"} Current Month

  %table#nojstable.table.table-striped
    %tr
      %td Day
      %td Activity
      %td Duration (minutes)
      %td Status
    - @no_js_curr_workouts.each do |workout|
      %tr
        %td= workout[2].strftime("%m/%d/%Y")
        %td= workout[0]
        %td= workout[1] 
        %td= workout[6][8..-1]
  
  %p
    %font{:size => "5"} Previous Month

  %table#nojstable.table.table-striped
    %tr
      %td Day
      %td Activity
      %td Duration (minutes)
      %td Status
    - @no_js_prev_workouts.each do |workout|
      %tr
        %td= workout[2].strftime("%m/%d/%Y")
        %td= workout[0]
        %td= workout[1] 
        %td= workout[6][8..-1]
