%script{:src => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"}
%link{:rel => "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css"}
:javascript
  $(document).ready(function() {
      var random = []
      var workouts = #{raw @workouts.to_json}
      for(i=0;i<workouts.length;i++){
        workout = workouts[i]
        random[i]={title: workout[0]+': '+workout[1], start: workout[2], backgroundColor: workout[3], textColor: 'black'}
      }
      $('#calendar').fullCalendar({
        header: {
          left: 'prev, today, next',
          center: 'title',
          right: ''
        },
        viewDisplay: function(view){
          var end = '#{@date.month}' +' '+ '#{@date.year}'
          var begin = '#{@earliestDate.month}' +' '+ '#{@earliestDate.year}'
          var cal_date_string = view.start.getMonth() +' '+ view.start.getYear()
          
          if(begin == cal_date_string){ jQuery('.fc-button-prev').addClass("fc-state-disabled"); }
          else{ jQuery('.fc-button-prev').removeClass("fc-state-disabled"); }
          
          if(end == cal_date_string){ jQuery('.fc-button-next').addClass("fc-state-disabled"); }
          else { jQuery('.fc-button-next').removeClass("fc-state-disabled"); }

        },
        events: random,
        eventBorderColor: 'black'
      })

  });
%head
  =@name
  =@date
  =@earliestDate
  

#calendar