%div.activity_container
  %p.activity.field
    = f.label :name, 'Activity: ', :class => 'activity_label'
    = f.text_field :name, :placeholder  => '(optional) ex. Running'
    = f.label :duration, 'Duration (minutes)*: ', :class => 'activity_label'
    = f.number_field :duration, :placeholder => 'ex. 30', :required => "required"
    = link_to_function "<span class=\"glyphicon glyphicon-minus-sign\"</span>".html_safe, "remove_fields(this)", :class => "remove_activity"
