%p.notice 
  %span.glyphicon.glyphicon-info-sign
  Your Current Timezone is set to #{current_user.current_timezone}. 
  = link_to "Update Timezone", edit_user_registration_path
= form_for(@month, url: add_days_path(), :html => {class: "form-inline"})  do |f|
  %p.form
  = f.fields_for :days do |builder|
    = render "day_fields", :f => builder
  %p
    = link_to_add_fields "<span class=\"glyphicon glyphicon-plus-sign\"></span> Add Day".html_safe, f, :days
  = label :days, :reason, 'Reason for inputting past days:'
  = text_field :days, :reason, :required => "required"
  %p.notice 
    %span.glyphicon.glyphicon-info-sign
    Activities for all past days will be sent to admin for approval.
  
  %p 
    = show_simple_captcha(:label => "Enter before submitting", :placeholder => "", :refresh_button_text => "Refresh text")

    = f.submit 'Submit', :class => 'submit btn'