= form_for(@month, url: add_days_path(), :html => {class: "form-inline"})  do |f|
  %p.form
  = f.fields_for :days do |builder|
    = render "day_fields", :f => builder
  %p
    = link_to_add_fields "Add Day", f, :days
  = label :days, :reason, 'Reason for inputting multiple days'
  = text_field :days, :reason
  %br
  (Note: activity for all days besides the current day will be sent to admin for approval)
  %p 
    = show_simple_captcha(:label => "Enter before submitting", :placeholder => "", :refresh_button_text => "Refresh text")
    = f.submit 'Submit', :class => 'submit'