= form_for(@day, url: add_today_path(), :html => {class: "form-inline"}) do |f|
  %p.form
  %div.today.field
    = f.label :date, "Today #{@date.strftime("%m/%d/%Y")}", :class => "title"
    %br
    %br
    = f.hidden_field :date, value: @date
    = f.fields_for :activities do |builder|
      = render "activity_fields", :f => builder
    %p
      = link_to_add_fields "<span class=\"glyphicon glyphicon-plus-sign\"</span>".html_safe, f, :activities
  %p 
    = show_simple_captcha(:label => "Enter before submitting", :placeholder => "", :refresh_button_text => "Refresh text")
    = hidden_field :days, :reason, value: "none"
    %br
    = f.submit 'Submit', :class => "btn"
= link_to "Input past days", past_days_path
