%p.activity
  = label :activity, :name, 'I did', :class => 'activity'
  = text_field :activity, :name, :placeholder  => 'activity'
  = label :activity, :duration, 'for'
  = number_field :activity, :duration
  minutes
  = check_box :_destroy, :activity
  = label :_destroy, :activity, 'Remove Activity'