%div.day.field
  = f.label :date, 'On'
  = f.text_field :date, :placeholder => 'mm/dd/yyyy', 'data-provide' => "datepicker", 'data-date-format' => "mm/dd/yyyy", 'data-date-start-date' => "#{@start_date.strftime("%m/%d/%Y")}", 'data-date-end-date' => "#{@end_date.strftime("%m/%d/%Y")}", :class => 'datepicker'
  = f.fields_for :activities do |builder|
    = render "activity_fields", :f => builder
  %p
    = link_to_add_fields "Add Activity", f, :activities
  = link_to_function "Remove Day", "remove_fields(this)"