= form_tag add_activity_path, :method => :put do
  %p
    Healthy Activity Form
    %br
  = fields_for :days do |builder|
    = render :partial => "day_fields"
  = label :days, :reason, 'Reason for inputting multiple days'
  = text_field :days, :reason
  %br
  (Note: activity for all days besides the current day will be sent to admin for approval)
  %p 
    = submit_tag 'Submit'