!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    %title Healthy EFF
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    = nav_bar fixed: :left, brand: "<img class=\"logo\" src=\"#{image_path('eff.png')}\">".html_safe, responsive: true do
      - if user_signed_in?
        = menu_group do
          = menu_divider
          - if current_user.admin
            = menu_item "Admin", admin_list_path
            = menu_divider
            = menu_item "Manage", manage_path
            = menu_divider
            - if Day.num_pending > 0
              = menu_item "<span class=\"glyphicon glyphicon-envelope\"></span><span class=\"badge\">#{Day.num_pending}</span>".html_safe, admin_pending_path, :class => "pending_link"
              = menu_divider
          = menu_item "<span class=\"glyphicon glyphicon-calendar\"></span>".html_safe, calendar_path, :class => "calendar_link"
          = menu_divider
        = menu_group pull: :right do
          = menu_divider
          = menu_item "<span class=\"glyphicon glyphicon-cog\"></span>".html_safe, edit_user_registration_path, :class => "settings_link"
          = menu_divider
          = menu_item "Sign Out", destroy_user_session_path, :method => :delete
  %body
    %div.content
      -if notice
        %p.notice
          %span.glyphicon.glyphicon-info-sign
          = notice
      -if alert
        %p.alert
          %span.glyphicon.glyphicon-exclamation-sign
          = alert
      = yield
