<!DOCTYPE html>
<html>
<head>
  <title>Healthyeff</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%# Required for devise messages to show up -Allan %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</head>
<body>

<%= yield %>

</body>
</html>
